[submodule "home2"]
	path = home2
	url = git@github.com:GeorgeSued14/mfe-todoit.git
[submodule "home"]
	path = home
	url = git@github.com:GeorgeSued14/mfe-todoit.git
[submodule "menu"]
	path = menu
	url = git@github.com:GeorgeSued14/mfe-todoit.git
